*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    border: 0;
    margin: 0;
    padding: 0;
}

.nav-section{
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    background-color: cornflowerblue;
    color: white;
    box-shadow: 0px  0px 20px 2px hsl(0, 0%, 81%);
}


.nav-div{
    /* border: 1px solid blue; */
    margin-left: 40px;
    font-size: 22px;
}

.main-section{
    margin-top: 80px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    border: 2px solid grey;
    box-shadow: 0px 10px 20px 10px hsl(0, 0%, 76%);
    border-radius: 20px;
    height: 800px;
    width: 650px;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    
}



.row-one,
.row-two,
.row-three,
.row-four,
.row-five,
.row-six{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.calculator button{
    width: 24%;
    border: .5px solid black;
    border-radius: 4px;
    font-size: large;
    background-color: white;
}

.previous{
    height: 20px;
    width: 100%;
    /* background-color: red;
    border: solid 1px blue; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;

}
.output{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

#current-entry{
    margin-right: 20px;
    font-size: 70px;
}

#saved-number{
    color: gray;
    opacity: 80%;
    font-size: medium;
    margin-right: 10px;
}
